In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = 'D:\\Nguyen Sy Truong An\\Study\\Phân tích và trực quan hóa dữ liệu\\'
data_name  = 'FoodPrice_in_Turkey.csv'
df = pd.read_csv(data_path + data_name, encoding= 'unicode_escape')

In [3]:
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [5]:
print(f'Bo du lieu co {df.shape[0]} dong va {df.shape[1]} cot')

Bo du lieu co 7381 dong va 8 cot

In [6]:
# Thang đo tương ứng của các thuộc tính được lưu trữ
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [9]:
# Giá trung bình của từng loại thực phẩm là bao nhiêu
df_product = df.groupby('ProductName')['Price'].mean().reset_index()

In [12]:
df_product.head()

               ProductName     Price
0    Apples (red) - Retail  2.392193
1          Apples - Retail  3.885039
2         Bananas - Retail  8.224784
3   Beans (white) - Retail  9.572830
4  Bread (common) - Retail  4.463293

In [13]:
# Đề xuất những loại phân tích mà bạn muốn biết mà bộ dữ liệu này có thể cung cấp
df.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800