In [1]:
import pandas as pd

In [2]:
data_path = 'D:\\Nguyen Sy Truong An\\Study\\Ph√¢n t√≠ch v√† tr·ª±c quan h√≥a d·ªØ li·ªáu\\'
data_name = 'GDPlist.csv'
df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

In [3]:
df.head()

        Country      Continent     GDP
0  ¬†Afghanistan           Asia   18181
1      ¬†Albania         Europe   12847
2      ¬†Algeria         Africa  190709
3       ¬†Angola         Africa  100948
4    ¬†Argentina  South America  447644

In [5]:
# ƒê·ªçc b·ªô d·ªØ li·ªáu, cho bi·∫øt s·ªë d√≤ng, s·ªë c·ªôt v√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh.
print(f'so dong cua df la {df.shape[0]}, so cot la {df.shape[1]}')

so dong cua df la 125, so cot la 3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    125 non-null    object
 1   Continent  125 non-null    object
 2   GDP        125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [18]:
# Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)

df = df.rename(columns= {'Country' : 'Nuoc', 'Continent' :'Chau luc'}).head()
df.head()

           Nuoc       Chau luc     GDP      Thanhpho
0  ¬†Afghanistan           Asia   18181  ¬†Afghanistan
1      ¬†Albania         Europe   12847      ¬†Albania
2      ¬†Algeria         Africa  190709      ¬†Algeria
3       ¬†Angola         Africa  100948       ¬†Angola
4    ¬†Argentina  South America  447644    ¬†Argentina

In [19]:
del df['Thanhpho']

In [20]:
df.head()

           Nuoc       Chau luc     GDP
0  ¬†Afghanistan           Asia   18181
1      ¬†Albania         Europe   12847
2      ¬†Algeria         Africa  190709
3       ¬†Angola         Africa  100948
4    ¬†Argentina  South America  447644

In [21]:
df['Thanhpho'] = df['Nuoc']

In [22]:
# Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
df['Thanhpho'].replace('Vietnam', 'Hanoi', inplace = True)

In [23]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
df = df[df['Chau luc'] != 'Asia']

In [25]:
df.head()

         Nuoc       Chau luc     GDP    Thanhpho
1    ¬†Albania         Europe   12847    ¬†Albania
2    ¬†Algeria         Africa  190709    ¬†Algeria
3     ¬†Angola         Africa  100948     ¬†Angola
4  ¬†Argentina  South America  447644  ¬†Argentina

In [26]:
# X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000
df = df[df['GDP'] < 300000]