In [1]:
import pandas as pd

In [2]:
data_path = 'D:\\Nguyen Sy Truong An\\Study\Phân tích và trực quan hóa dữ liệu\\'
data_name = 'OnlineRetail.csv'
df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

In [4]:
# Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
print(f'Du lieu co {df.shape[0]} va {df.shape[1]} cot')

Du lieu co 541909 va 8 cot

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
# Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv
df_new = df.loc[:, ['Description', 'Quantity']]

In [8]:
df_new.to_csv('df_new.csv', index= False)

In [10]:
# Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx
df_1000 = df.head(1000)
df_1000.to_csv('df_1000', index= False)

In [11]:
# Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5
df_10 = df.loc[df['Quantity'] >10, :]

In [12]:
df_10.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France

In [13]:
df_10.to_csv('OnlineRetail.h5', index = False)

In [14]:
# Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json
df_1000_2000 = df.loc[1000: 2000, ['Quantity', 'InvoiceDate', 'UnitPrice']]

In [17]:
# Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html
df_536345 = df.loc[df['InvoiceNo'] == 536345, :]